.home {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    gap : 10vw;

    &.dark-mode {
        background-color: $dark-bg;
    }

    &.light-mode {
        background-color: $light-bg;
    }

    @include xs {
        flex-direction: column;
    }

    @include sm {
        flex-direction: column;
    }

    @include md {
        flex-direction: row;
    }

    @include xl {
        flex-direction: row;
    }

    @include xxl {
        flex-direction: row;
    }

    .home-left{
        flex : 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 3vh;

        .title {
            text-align: left;

            @include xs {
                margin-top: 10vh;
                font-size : 18px;
            }
        
            @include sm {
                margin-top: 10vh;
                font-size : 20px;
            }
        
            @include md {
                font-size : 22px;
            }
        
            @include xl {
                font-size : 24px;
            }
        
            @include xxl {
                font-size : 26px;
            }

            h1 {
                font-family: 'Tiempos';
            }

            &.light-mode {
                color: $light-titre;
            }
            &.dark-mode {
                color: $dark-titre;
            }
        }

        .text {
            text-align: left;

            @include xs {
                font-size : 16px;
            }
        
            @include sm {
                font-size : 18px;
            }
        
            @include md {
                font-size : 20px;
            }
        
            @include xl {
                font-size : 22px;
            }
        
            @include xxl {
                font-size : 24px;
            }

            p {
                font-family: 'inter';
            }

            &.light-mode {
                color: $light-titre;
            }
            &.dark-mode {
                color: $dark-titre;
            }
        }

        .form {
            display: flex;
            flex-direction: row;
            gap : 10px;
            width: 80%;

            input {
                padding : 15px 10px;
                border: none;
                border-radius: 4px;
                flex: 3;

                &.dark-mode{
                    background-color: lighten($dark-bg, 10%);
                    color: $dark-titre;
                }

                &.light-mode {
                    background-color: darken($light-bg, 10%);
                    color: $light-titre;
                }
            }

            button {
                border: none;
                border-radius: 4px;
                padding: 0.5rem 1rem;
                cursor: pointer;
                flex: 1;

                &.dark-mode{
                    background-color: $color-one;
                    color: $dark-titre;
                }

                &.light-mode {
                    background-color: $color-one;
                    color: $dark-titre;
                }
            }
        }

        .usp {
            ul {
                display: flex;
                flex-direction: row;
                padding: 0;
                gap: 2vw;
                li {
                    display: flex;
                    flex-direction: row;
                    text-decoration: none;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;

                    .MuiSvgIcon-root {
                        color: rgb(28, 233, 28) !important;
                    }

                    p {
                        font-family: 'Inter';

                        @include xs {
                            font-size : 10px;
                        }
                    
                        @include sm {
                            font-size : 12px;
                        }
                    
                        @include md {
                            font-size : 14px;
                        }
                    
                        @include xl {
                            font-size : 16px;
                        }
                    
                        @include xxl {
                            font-size : 18px;
                        }

                        &.light-mode {
                            color: $light-titre;
                        }
                        &.dark-mode {
                            color: $dark-titre;
                        }
                    }
                }
            }
        }
    }

    .home-right{
        flex : 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
}