.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: $primary-color;
  position: relative;
  font-family: 'Inter';
  z-index: 10;

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .navbar-left {
    display: flex;
    align-items: center;
  }

  .navbar-logo {
    width: 60px;
    height: auto;
  }

  .navbar-links {
    display: flex;
    list-style: none;
    margin-left: 1rem;

    @include xs {
      display: none;
    }

    @include sm {
        display: none;
    }

    @include md {
      display: none;
  }

    &.active {
      display: block;
    }

    li {
      margin-right: 1rem;
    }

    a {
      text-decoration: none;
    }
  }

  .navbar-right {
    display: flex;
    align-items: center;

    .login-link {
      margin-right: 1rem;
      text-decoration: none;

      @include xs {
        display: none;
      }
  
      @include sm {
          display: none;
      }
    }

    .trial-button {
      border: none;
      border-radius: 4px;
      padding: 0.5rem 1rem;
      cursor: pointer;

      @include xs {
        display: none;
      }
  
      @include sm {
          display: none;
      }
    }

    .toggle-dark-mode {
        background-color: transparent;
        border: none;
        color: $light-titre;
        margin-left: 1rem;
        cursor: pointer;
  
        &:hover {
          color: $primary-color;
        }
      }

      .toggle-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 3vw;

        .MuiSvgIcon-root {
          &.light-mode {
              color: $light-titre !important;
          }
          &.dark-mode {
              color: $dark-titre !important;
          }
        }

        .toggle{
          .Mui-checked {
            color: $primary-color;
          }
          .MuiSwitch-track {
            background-color: lighten($primary-color, 40%);
          }
        }
      }
    }
  
    .menu-toggle {
      display: none;
      font-size: 2rem;
      background-color: transparent;
      border: none;
      color: $light-titre;
      cursor: pointer;
  
      &:hover {
        color: $primary-color;
      }
    }
  }
  