@font-face {
  font-family: "Tiempos";
  src: url("../assets/fonts/tiempos/TiemposHeadline-Regular_5qhhSkP25.otf");
  src: url("../assets/fonts/tiempos/TiemposHeadline-Regular_5qhhSkP25.otf")
      format("embedded-opentype"),
    url("../assets/fonts/tiempos/TiemposHeadline-Regular_g8k6ia8vz.woff2")
      format("woff2"),
    url("../assets/fonts/tiempos/TiemposHeadline-Regular_7R5Pei2Uo.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


  
// Couleurs Primaires
$primary-color: #7601fd;

// Light Mode
$light-titre : #11181c;
$light-paragraphe: #687076;
$light-lightgrey: #f1f3f5;
$light-bg: #fafafa;

// Dark Mode
$dark-titre : #eceede;
$dark-paragraphe: #9ba1ac;
$dark-lightgrey: #16181a;
$dark-bg: #111111;
