@charset "UTF-8";
@font-face {
  font-family: "Roland";
  src: url("https://ik.imagekit.io/z0tzxea0wgx/Fonts/oliver-regular-webfont_hf1KGlqM27q8T.eot");
  src: url("https://ik.imagekit.io/z0tzxea0wgx/Fonts/oliver-regular-webfont_hf1KGlqM27q8T.eot?#iefix") format("embedded-opentype"), url("https://ik.imagekit.io/z0tzxea0wgx/Fonts/oliver-regular-webfont_1gmydpDg4W.woff2") format("woff2"), url("https://ik.imagekit.io/z0tzxea0wgx/Fonts/oliver-regular-webfont_0F0tdt2nqf.ttf") format("truetype"), url("https://ik.imagekit.io/z0tzxea0wgx/Fonts/oliver-regular-webfont_OS4KU8lTs.svg#oliverregular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Tiempos";
  src: url("https://ik.imagekit.io/z0tzxea0wgx/Fonts/Tiempos/Regular/TiemposHeadline-Regular_5qhhSkP25.otf?updatedAt=1679415785902");
  src: url("https://ik.imagekit.io/z0tzxea0wgx/Fonts/Tiempos/Regular/TiemposHeadline-Regular_5qhhSkP25.otf?updatedAt=1679415785902") format("embedded-opentype"), url("https://ik.imagekit.io/z0tzxea0wgx/Fonts/Tiempos/Regular/TiemposHeadline-Regular_g8k6ia8vz.woff2?updatedAt=1679416151710") format("woff2"), url("https://ik.imagekit.io/z0tzxea0wgx/Fonts/Tiempos/Regular/TiemposHeadline-Regular_7R5Pei2Uo.ttf?updatedAt=1679416048629") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html, body {
  margin: 0;
  padding: 0;
}

@media only screen and (max-device-width: 425px) {
  .section {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}
@media only screen and (min-device-width: 426px) and (max-device-width: 767px) {
  .section {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .section {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}
@media only screen and (min-device-width: 1441px) and (max-device-width: 5000px) {
  .section {
    padding-left: 15vw;
    padding-right: 15vw;
  }
}
@media only screen and (min-device-width: 1921px) {
  .section {
    padding-left: 20vw;
    padding-right: 20vw;
  }
}

h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #7601fd;
  position: relative;
  font-family: "Inter";
  z-index: 10;
}
.navbar.light-mode {
  background-color: #fafafa;
}
.navbar.dark-mode {
  background-color: #111111;
}
.navbar .navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.navbar .navbar-left {
  display: flex;
  align-items: center;
}
.navbar .navbar-logo {
  width: 60px;
  height: auto;
}
.navbar .navbar-links {
  display: flex;
  list-style: none;
  margin-left: 1rem;
}
@media only screen and (max-device-width: 425px) {
  .navbar .navbar-links {
    display: none;
  }
}
@media only screen and (min-device-width: 426px) and (max-device-width: 767px) {
  .navbar .navbar-links {
    display: none;
  }
}
.navbar .navbar-links.active {
  display: block;
}
.navbar .navbar-links li {
  margin-right: 1rem;
}
.navbar .navbar-links a {
  text-decoration: none;
}
.navbar .navbar-links a.light-mode {
  color: #11181c;
}
.navbar .navbar-links a.dark-mode {
  color: #eceede;
}
.navbar .navbar-links a:hover {
  color: #7601fd;
}
.navbar .navbar-right {
  display: flex;
  align-items: center;
}
.navbar .navbar-right .login-link {
  margin-right: 1rem;
  text-decoration: none;
}
@media only screen and (max-device-width: 425px) {
  .navbar .navbar-right .login-link {
    display: none;
  }
}
@media only screen and (min-device-width: 426px) and (max-device-width: 767px) {
  .navbar .navbar-right .login-link {
    display: none;
  }
}
.navbar .navbar-right .login-link.light-mode {
  color: #11181c;
}
.navbar .navbar-right .login-link.dark-mode {
  color: #eceede;
}
.navbar .navbar-right .login-link:hover {
  color: #7601fd;
}
.navbar .navbar-right .trial-button {
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
@media only screen and (max-device-width: 425px) {
  .navbar .navbar-right .trial-button {
    display: none;
  }
}
@media only screen and (min-device-width: 426px) and (max-device-width: 767px) {
  .navbar .navbar-right .trial-button {
    display: none;
  }
}
.navbar .navbar-right .trial-button.light-mode {
  background-color: #c898ff;
  color: #2f0065;
}
.navbar .navbar-right .trial-button.light-mode:hover {
  background-color: #9133fe;
}
.navbar .navbar-right .trial-button.dark-mode {
  background-color: #2f0065;
  color: #c898ff;
}
.navbar .navbar-right .trial-button.dark-mode:hover {
  background-color: #5e01ca;
}
.navbar .navbar-right .toggle-dark-mode {
  background-color: transparent;
  border: none;
  color: #11181c;
  margin-left: 1rem;
  cursor: pointer;
}
.navbar .navbar-right .toggle-dark-mode:hover {
  color: #7601fd;
}
.navbar .navbar-right .toggle-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 3vw;
}
.navbar .navbar-right .toggle-container .MuiSvgIcon-root.light-mode {
  color: #11181c !important;
}
.navbar .navbar-right .toggle-container .MuiSvgIcon-root.dark-mode {
  color: #eceede !important;
}
.navbar .navbar-right .toggle-container .toggle .Mui-checked {
  color: #7601fd;
}
.navbar .navbar-right .toggle-container .toggle .MuiSwitch-track {
  background-color: #e3cbff;
}
.navbar .menu-toggle {
  display: none;
  font-size: 2rem;
  background-color: transparent;
  border: none;
  color: #11181c;
  cursor: pointer;
}
.navbar .menu-toggle:hover {
  color: #7601fd;
}

.navbar.light-mode::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px; /* hauteur du dégradé */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
  z-index: -1; /* pour placer l'élément derrière la navbar */
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  gap: 10vw;
}
.home.dark-mode {
  background-color: #111111;
}
.home.light-mode {
  background-color: #fafafa;
}
@media only screen and (max-device-width: 425px) {
  .home {
    flex-direction: column;
  }
}
@media only screen and (min-device-width: 426px) and (max-device-width: 767px) {
  .home {
    flex-direction: column;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .home {
    flex-direction: row;
  }
}
@media only screen and (min-device-width: 1441px) and (max-device-width: 5000px) {
  .home {
    flex-direction: row;
  }
}
@media only screen and (min-device-width: 1921px) {
  .home {
    flex-direction: row;
  }
}
.home .home-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3vh;
}
.home .home-left .title {
  text-align: left;
}
@media only screen and (max-device-width: 425px) {
  .home .home-left .title {
    margin-top: 10vh;
    font-size: 18px;
  }
}
@media only screen and (min-device-width: 426px) and (max-device-width: 767px) {
  .home .home-left .title {
    margin-top: 10vh;
    font-size: 20px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .home .home-left .title {
    font-size: 22px;
  }
}
@media only screen and (min-device-width: 1441px) and (max-device-width: 5000px) {
  .home .home-left .title {
    font-size: 24px;
  }
}
@media only screen and (min-device-width: 1921px) {
  .home .home-left .title {
    font-size: 26px;
  }
}
.home .home-left .title h1 {
  font-family: "Tiempos";
}
.home .home-left .title.light-mode {
  color: #11181c;
}
.home .home-left .title.dark-mode {
  color: #eceede;
}
.home .home-left .text {
  text-align: left;
}
@media only screen and (max-device-width: 425px) {
  .home .home-left .text {
    font-size: 16px;
  }
}
@media only screen and (min-device-width: 426px) and (max-device-width: 767px) {
  .home .home-left .text {
    font-size: 18px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .home .home-left .text {
    font-size: 20px;
  }
}
@media only screen and (min-device-width: 1441px) and (max-device-width: 5000px) {
  .home .home-left .text {
    font-size: 22px;
  }
}
@media only screen and (min-device-width: 1921px) {
  .home .home-left .text {
    font-size: 24px;
  }
}
.home .home-left .text p {
  font-family: "inter";
}
.home .home-left .text.light-mode {
  color: #11181c;
}
.home .home-left .text.dark-mode {
  color: #eceede;
}
.home .home-left .form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 80%;
}
.home .home-left .form input {
  padding: 15px 10px;
  border: none;
  border-radius: 4px;
  flex: 3;
}
.home .home-left .form input.dark-mode {
  background-color: #2b2b2b;
  color: #eceede;
}
.home .home-left .form input.light-mode {
  background-color: #e1e1e1;
  color: #11181c;
}
.home .home-left .form button {
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  flex: 1;
}
.home .home-left .form button.dark-mode {
  background-color: #7601fd;
  color: #eceede;
}
.home .home-left .form button.light-mode {
  background-color: #7601fd;
  color: #eceede;
}
.home .home-left .usp ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  gap: 2vw;
}
.home .home-left .usp ul li {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.home .home-left .usp ul li .MuiSvgIcon-root {
  color: rgb(28, 233, 28) !important;
}
.home .home-left .usp ul li p {
  font-family: "Inter";
}
@media only screen and (max-device-width: 425px) {
  .home .home-left .usp ul li p {
    font-size: 10px;
  }
}
@media only screen and (min-device-width: 426px) and (max-device-width: 767px) {
  .home .home-left .usp ul li p {
    font-size: 12px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .home .home-left .usp ul li p {
    font-size: 14px;
  }
}
@media only screen and (min-device-width: 1441px) and (max-device-width: 5000px) {
  .home .home-left .usp ul li p {
    font-size: 16px;
  }
}
@media only screen and (min-device-width: 1921px) {
  .home .home-left .usp ul li p {
    font-size: 18px;
  }
}
.home .home-left .usp ul li p.light-mode {
  color: #11181c;
}
.home .home-left .usp ul li p.dark-mode {
  color: #eceede;
}
.home .home-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.window {
  width: 100%;
}
@media only screen and (max-device-width: 425px) {
  .window {
    margin-top: 10vh;
  }
}
@media only screen and (min-device-width: 426px) and (max-device-width: 767px) {
  .window {
    margin-top: 10vh;
  }
}
.window .topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px 10px 0 0;
  padding: 1rem 0;
}
.window .topbar.light-mode {
  background-color: #e1e1e1;
}
.window .topbar.dark-mode {
  background-color: #2b2b2b;
}
.window .topbar .left {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 10px;
  align-items: center;
  gap: 8px;
}
.window .topbar .left .round {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.window .topbar .left .round#one {
  background-color: #FF605A;
}
.window .topbar .left .round#two {
  background-color: #FFBF31;
}
.window .topbar .left .round#three {
  background-color: #27C840;
}
.window .topbar .left .round:hover {
  cursor: pointer;
}
.window .topbar .center {
  flex: 1;
}
.window .topbar .center p {
  font-family: "Inter";
}
@media only screen and (max-device-width: 425px) {
  .window .topbar .center p {
    margin: 0 2vw;
    font-size: 12px;
  }
}
@media only screen and (min-device-width: 426px) and (max-device-width: 767px) {
  .window .topbar .center p {
    margin: 0 2vw;
    font-size: 14px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .window .topbar .center p {
    font-size: 16px;
  }
}
@media only screen and (min-device-width: 1441px) and (max-device-width: 5000px) {
  .window .topbar .center p {
    font-size: 18px;
  }
}
@media only screen and (min-device-width: 1921px) {
  .window .topbar .center p {
    font-size: 20px;
  }
}
.window .topbar .center p.light-mode {
  color: #11181c;
}
.window .topbar .center p.dark-mode {
  color: #eceede;
}
.window .topbar .right {
  flex: 1;
}
.window .content {
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: row;
}
@media only screen and (max-device-width: 425px) {
  .window .content {
    min-height: 60vh;
    margin-bottom: 10vh;
  }
}
@media only screen and (min-device-width: 426px) and (max-device-width: 767px) {
  .window .content {
    min-height: 60vh;
    margin-bottom: 10vh;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .window .content {
    min-height: 50vh;
  }
}
@media only screen and (min-device-width: 1441px) and (max-device-width: 5000px) {
  .window .content {
    min-height: 50vh;
  }
}
@media only screen and (min-device-width: 1921px) {
  .window .content {
    min-height: 50vh;
  }
}
.window .content.light-mode {
  background-color: #c7c7c7;
}
.window .content.dark-mode {
  background-color: #444444;
}
.window .content .logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 3vh;
}
.window .content .logo img {
  width: 70%;
  height: auto;
}
.window .content .text {
  flex: 4;
  margin-right: 3vw;
  margin-top: 4vh;
}
.window .content .text span {
  font-family: "Inter";
}
@media only screen and (max-device-width: 425px) {
  .window .content .text span {
    line-height: 15px;
    font-size: 12px;
  }
}
@media only screen and (min-device-width: 426px) and (max-device-width: 767px) {
  .window .content .text span {
    line-height: 15px;
    font-size: 14px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .window .content .text span {
    line-height: 30px;
    font-size: 16px;
  }
}
@media only screen and (min-device-width: 1441px) and (max-device-width: 5000px) {
  .window .content .text span {
    font-size: 18px;
    line-height: 30px;
  }
}
@media only screen and (min-device-width: 1921px) {
  .window .content .text span {
    font-size: 18px;
    line-height: 30px;
  }
}
.window .content .text span.light-mode {
  color: #11181c;
}
.window .content .text span.dark-mode {
  color: #d1d5db;
}

/*# sourceMappingURL=style.css.map */
